<div class="w3-top">
  <div id="header" class="w3-bar w3-wide w3-padding w3-card">
    <a routerLink="/home" class="w3-bar-item w3-button"><b>jyang52</b> HW3</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a routerLink="components/home" class="w3-bar-item w3-button">Home</a>
      <a routerLink="components/survey" class="w3-bar-item w3-button">Submit Survey</a>
      <a routerLink="components/list-all-surveys" class="w3-bar-item w3-button">View All Surveys</a>
    </div>
  </div>
</div>
<br>
<br><br>
